<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: 'Formulario de creación'}) %>
<body class="form">
    <%- include('../partials/header') %>

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/admin">Admin</a>
            <a href="/users">Usuarios</a>
            <a href="/users/create">Nuevo</a>
        </nav>
    </section>
    
    <main class="row main-center admin-form">
        <div class="col-11 container">
            <div class="header">
                <p>Crear usuario</p>
            </div>
            <form action="/users" method="POST" enctype="multipart/form-data">
                <div class="row main-between">
                    <div class="col-12 col-md-6 form-group">
                        <label for="firstname">Nombre</label>
                        <input type="text" id="firstname" name="firstname" placeholder="Ej: Juan"
                            value="<%= locals.user ? user.firstname : '' %>"
                            class="<%= locals.errors && errors.firstname ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.firstname ? errors.firstname.msg : '' %></span>
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="lastname">Apellido</label>
                        <input type="text" id="lastname" name="lastname" placeholder="Ej: Perez"
                            value="<%= locals.user ? user.lastname : '' %>"
                            class="<%= locals.errors && errors.lastname ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.lastname ? errors.lastname.msg : '' %></span>
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Ej: juanperez@mail.com"
                            value="<%= locals.user ? user.email : '' %>"
                            class="<%= locals.errors && errors.email ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.email ? errors.email.msg : '' %></span>
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="phone">Teléfono</label>
                        <input type="number" id="phone" name="phone" placeholder="Ej: 1122223333"
                            value="<%= locals.user ? user.phone : '' %>"
                            class="<%= locals.errors && errors.phone ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.phone ? errors.phone.msg : '' %></span>
                    </div>
                    <!-- Facturacion -->
                    <div class="col-12 col-md-12 form-group">
                        <label>Domicilio de Facturacion</label>
                        <input type="hidden" name="addresses[0][type]" value="payment">
                    </div>
                    <div class="col-12 col-md-5 form-group">
                        <label for="addresses[0][street]">Calle</label>
                        <input type="text" id="addresses[0][street]" name="addresses[0][street]" placeholder="Av de Mayo"
                            value="<%= locals.user && user.addresses[0] ? user.addresses[0].street : '' %>"
                            class="<%= locals.errors && errors.addresses[0][street] ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.addresses[0][street]? errors.addresses[0][street].msg : '' %></span>    
                    </div>
                    <div class="col-12 col-md-3 form-group">
                        <label for="addresses[0][number]">Numero</label>
                        <input type="number" id="addresses[0][number]" name="addresses[0][number]" placeholder="1234"
                            value="<%= locals.user && user.addresses && user.addresses[0] ? user.addresses[0].number : '' %>"
                            class="<%= locals.errors && errors.addresses[0][number] ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.addresses[0][number]? errors.addresses[0][number].msg : '' %></span>    
                    </div>
                    <div class="col-12 col-md-4 form-group">
                        <label for="addresses[0][city]">Ciudad</label>
                        <input type="text" id="addresses[0][city]" name="addresses[0][city]" placeholder="Buenos Aires"
                            value="<%= locals.user && user.addresses && user.addresses[0] ? user.addresses[0].city : '' %>"
                            class="<%= locals.errors && errors.addresses[0][city] ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.addresses[0][city]? errors.addresses[0][city].msg : '' %></span>    
                    </div>
                    <!-- Entrega  -->
                    <div class="col-12 col-md-12 form-group">
                        <label>Domicilio de Entrega</label>
                        <input type="hidden" name="addresses[1][type]" value="shipping">
                    </div>
                    <div class="col-12 col-md-5 form-group">
                        <label for="addresses[1][street]">Calle</label>
                        <input type="text" id="addresses[1][street]" name="addresses[1][street]" placeholder="Av de Mayo"
                            value="<%= locals.user && user.addresses && user.addresses[1] ? user.addresses[1].street : '' %>"
                           class="<%= locals.errors && errors.addresses[][street] ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.addresses[1][street]? errors.addresses[1][street].msg : '' %></span>   
                    </div>
                    <div class="col-12 col-md-3 form-group">
                        <label for="addresses[1][number]">Numero</label>
                        <input type="number" id="addresses[1][number]" name="addresses[1][number]" placeholder="1234"
                            value="<%= locals.user && user.addresses && user.addresses[1] ? user.addresses[1].number : '' %>"
                                  class="<%= locals.errors && errors.addresses[1][number] ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.addresses[1][number]? errors.addresses[1][number].msg : '' %></span>    
                    </div>
                    <div class="col-12 col-md-4 form-group">
                        <label for="addresses[1][city]">Ciudad</label>
                        <input type="text" id="addresses[1][city]" name="addresses[1][city]" placeholder="Buenos Aires"
                            value="<%= locals.user && user.addresses && user.addresses[1] ? user.addresses[1].city : '' %>"
                            class="<%= locals.errors && errors.addresses[1][city] ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.addresses[1][city]? errors.addresses[1][city].msg : '' %></span>    
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="category">Categoría</label>
                        <select name="category" id="category" class="<%= locals.errors && errors.category ? 'danger' : '' %>">
                            <% roles.forEach(role => { %>
                                <option value="<%=role.id %>"><%=role.name%></option>         
                            <% }) %>
                        </select>
                        <span class="error"><%= locals.errors && errors.category ? errors.category.msg : '' %></span>
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="image">Imagen</label>
                        <input type="file" id="image" name="image">
                    </div>
                    <div class="col-12 controls">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="/users" class="btn-cancel">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>