<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: user.firstname}) %>
<body>
    <%- include('../partials/header') %>
    
    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/admin">Admin</a>
            <a href="/users">Usuarios</a>
            <a href="/users/create">Detalle</a>
        </nav>
    </section>

    <!-- user detail -->
    <main class="row main-center admin-form">
        <div class="col-11 container">
            <div class="header">
                <p>Usuario <span class="entity">#<%= user.id %></span></p>
                <a class="btn btn-primary" href="/users/<%= user.id %>/edit">
                    <i class="fas fa-edit"></i> Editar
                </a>
                <form class="form-only-btn" action="/users/<%= user.id %>?_method=delete" method="post">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </form>
            </div>
            <div class="row main-around row-content">
                <div class="col-10 col-md-2 col-lg-2">
                    <img src="/images/users/<%= user.image ? user.image : '' %>" onerror="this.src='/images/users/default-image.png'" alt="imagen de usuario">
                </div>
                <div class="col-10 col-md-9 col-lg-9 detail">
                    <p><span>Nombre: </span> <%= user.firstname %></p>
                    <p><span>Apellido: </span> <%= user.lastname %></p>
                    <p><span>Email: </span> <%= user.email %></p>
                    <p><span>Categoría: </span> <%= user.category %></p>
                    <p><span>Teléfono: </span> <%= user.phone %></p>
                    <p><span>Domicilio de facturación: </span> <%= user.payment_address %></p>
                    <p><span>Domicilio de entrega: </span> <%= user.shipping_address %></p>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>