<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: 'Editando: ' + user.firstname}) %>
<body>
	<%- include('../partials/header-admin') %>
	
	<section class="top-nav">
        <nav class="top-nav-start breadcrumb">
			<a href="/">Inicio</a>
			<a href="/admin">Admin</a>
			<a href="/users">Usuarios</a>
            <a href="/users/<%= user.firstname %>/edit">Editar</a>
        </nav>
	</section>

	<div class="container admin-wrapper">
		<div class="row main-center">
			<div class="col-11">
				<h2 class="title">Editando el usuario: <i><%= user.firstname %></i></h2>
			</div>
			<div class="col-11 col-md-6">
				<form action="/users/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
					<div class="row">
						<div class="col-12">
							<label for="firstname">Nombre:</label>
							<input type="text" id="firstname" name="firstname" placeholder="Ej: juan" value="<%= user.firstname %>">
						</div>
						<div class="col-12">
							<label for="lastname">Apellido:</label>
							<input type="text" id="lastname" name="lastname" placeholder="Ej: perez" value="<%= user.lastname %>">
						</div>
						<div class="col-12">
							<label for="email">Email:</label>
							<input type="email" id="email" name="email" placeholder="Ej: juanperez@mail.com" value="<%= user.email %>">
						</div>
						<div class="col-12">
							<label for="category">Categoría:</label>
							<select name="category" id="category">
								<option value="user" <%= user.category == 'user' ? 'selected' : '' %>>Usuario</option>
								<option value="admin" <%= user.category == 'admin' ? 'selected' : '' %>>Administrador</option>
							</select>
						</div>
						<div class="col-12">
							<label for="phone">Teléfono:</label>
							<input type="number" id="phone" name="phone" placeholder="Ej: 1122223333" value="<%= user.phone %>">
						</div>
						<div class="col-12">
							<label for="payment_address">Domicilio de facturación:</label>
							<input type="text" id="payment_address" name="payment_address" placeholder="Ej: Corrientes 9999, Lanus, Buenos Aires" value="<%= user.payment_address %>">
						</div>
						<div class="col-12">
							<label for="shipping_address">Domicilio de entrega:</label>
							<input type="text" id="shipping_address" name="shipping_address" placeholder="Ej: Rivadavia 9999, CABA" value="<%= user.shipping_address %>">
						</div>
						<div class="col-12">
							<label for="password">Contraseña:</label>
							<input type="password" id="password" name="password">
						</div>
						<div class="col-12">
							<label for="image">Imagen:</label>
							<input type="file" id="image" name="image" value="">
						</div>
						<input type="hidden" name="currentImage" value="<%= user.image %>">
						<div class="col-12">
							<button type="submit" class="btn btn-primary">Guardar</button>
							<a href="/users" class="btn btn-cancel">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>