<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: 'Editando: ' + user.firstname}) %>
<body class="form">
    <%- include('../partials/header') %>
    
    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/admin">Admin</a>
            <a href="/users">Usuarios</a>
            <a href="/users/<%= user.firstname %>/edit">Editar</a>
        </nav>
    </section>

    <main class="row main-center admin-form">
        <div class="col-11 container">
            <div class="header">
                <p>Editar Usuario <span class="entity">#<%= user.id %></span></p>
            </div>
            <form action="/users/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="row main-between">
                    <div class="col-12 col-md-6 form-group">
                        <label for="firstname">Nombre</label>
                        <input type="text" id="firstname" name="firstname" placeholder="Ej: Juan"
                            value="<%= locals.user ? user.firstname : '' %>"
                            class="<%= locals.errors && errors.firstname ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.firstname ? errors.firstname.msg : '' %></span>
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="lastname">Apellido</label>
                        <input type="text" id="lastname" name="lastname" placeholder="Ej: Perez"
                            value="<%= locals.user ? user.lastname : '' %>"
                            class="<%= locals.errors && errors.lastname ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.lastname ? errors.lastname.msg : '' %></span> 
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Ej: juanperez@mail.com"
                            value="<%= locals.user ? user.email : '' %>"
                            class="<%= locals.errors && errors.email ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.email ? errors.email.msg : '' %></span>
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="phone">Teléfono</label>
                        <input type="number" id="phone" name="phone" placeholder="Ej: 1122223333"
                            value="<%= locals.user ? user.phone : '' %>"
                            class="<%= locals.errors && errors.phone ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.phone ? errors.phone.msg : '' %></span>
                    </div>
                    <% for( let i = 0; i < user.addresses.length; i++ ) { %>
                        <div class="col-12 form-title">
                            <p>Domicilio de <%= user.addresses[i].type == 'payment' ? 'facturación' : 'entrega' %> </p>
                            <input type="hidden" name="addresses[<%= i %>][type]" value="<%= user.addresses[i].type %>">
                        </div>
                        <div class="col-12 col-md-5 form-group">
                            <label for="addresses[<%= i %>][street]">Calle</label>
                            <input type="text" id="addresses[<%= i %>][street]" name="addresses[<%= i %>][street]"
                                placeholder="Av de Mayo" value="<%= user.addresses[i].street %>">
                        </div>
                        <div class="col-12 col-md-3 form-group">
                            <label for="addresses[<%= i %>][number]">Numero</label>
                            <input type="number" id="addresses[<%= i %>][number]" name="addresses[<%= i %>][number]"
                                placeholder="1234" value="<%= user.addresses[i].number %>">
                        </div>
                        <div class="col-12 col-md-4 form-group">
                            <label for="addresses[<%= i %>][city]">Ciudad</label>
                            <input type="text" id="addresses[<%= i %>][city]" name="addresses[<%= i %>][city]"
                                placeholder="Buenos Aires" value="<%= user.addresses[i].city %>">
                        </div>
                    <% } %>
                    <div class="col-12 col-md-6 form-group">
                        <label for="category">Categoría</label>
                        <select name="category" id="category" class="<%= locals.errors && errors.category ? 'danger' : '' %>">
                            <% roles.forEach(role => { %>
                                <option value="<%= role.id %>" <%= role.id == user.role_id ? 'selected' : '' %>><%= role.name %></option>         
                            <% }) %>
                        </select>
                        <span class="error"><%= locals.errors && errors.category ? errors.category.msg : '' %></span>
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="image">Imagen</label>
                        <input type="file" id="image" name="image">
                    </div>
                    <input type="hidden" name="currentImage" value="<%= locals.user ? user.image : '' %>">
                    <div class="col-12 controls">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="/users" class="btn-cancel">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- /footer -->
</body>
</html>