<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    
    <main class="main-with-form">  
        <section class="row main-center">
            <div class="col-11  col-md-5 col-lg-4 form-general">

                <form action="/users/login" method="POST"> 

                    <h2 class="title-forms">Que bueno que volviste!</h2>

                    <div class="form-step">
                        <label for="email" >Email</label>
                        <input type="email" id="email" name="email" class="<%= locals.errors && errors.email ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.email ? errors.email.msg : '' %></span>
                    </div>

                    <div class="form-step">
                        <label for="password" >Contraseña</label>
                        <input type="password" id="password" name="password"> 
                    </div>

                    <div class="form-step">
                        <label for="remember">Recordarme</label>
                        <input type="checkbox" name="remember">
                    </div>
                    
                    <p class="error"><%= locals.errors && errors.form ? errors.form.msg : '' %></p>
                    
                    <div>
                        <button type="submit" class=" btn btn-primary">Iniciar Sesión</button>
                        <a href="/" class="btn btn-cancel">Volver</a>
                    </div>
                    
                    <div>
                        <a href="/users/recover" class="btn btn-cancel">Olvidé mi contraseña</a>
                    </div>

                </form>
            </div>
        </section>  
    </main>

    <%- include('../partials/footer') %>
</body>
</html>