<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="form">
    <%- include('../partials/header') %>
    
    <main class="guest-form">
        <section class="row main-center">
            <div class="col-11 col-md-5 col-lg-4">
                <form action="/users/recover" method="POST">
                    <div class="header">
                        <p>Te enviaremos una nueva contraseña</p>
                        <p class="title">Nuevo Acceso</p>
                    </div>
                    <% if (locals.msg && msg) { %>
                        <p class="success"><%= locals.msg %></p>
                    <% } %>
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="email" id="email" name="email" placeholder="amantedelacomida53@aol.com"
                            value="<%= locals.email ? email : '' %>"
                            class="<%= locals.errors && errors.email ? 'danger' : '' %>"
                            <%= locals.msg ? 'disabled' : '' %>>
                        <span class="error"><%= locals.errors && errors.email ? errors.email.msg : '' %></span>
                    </div>
                    <div class="controls">
                        <button type="submit" class="btn btn-primary" <%= locals.msg ? 'disabled' : '' %>>Enviar</button>
                        <a href="/users/login" class="btn-cancel">Volver</a>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>