<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="form">
    <%- include('../partials/header') %>

    <main class="guest-form">
        <section class="row main-center">
            <div class="col-11 col-md-5 col-lg-4">
                <form action="/users/register" method="POST">
                    <div class="header">
                        <p>¡Bienvenid@!</p>
                        <p class="title">Registrarme</p>
                    </div>
                    <div class="form-group">
                        <label for="firstname">Nombre</label> 
                        <input type="text" id="firstname" name="firstname" placeholder="Cosme"
                            value="<%= locals.user ? user.firstname : '' %>"
                            class="<%= locals.errors && errors.firstname ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.firstname ? errors.firstname.msg : '' %></span>
                    </div>
                    <div class="form-group">
                        <label for="lastname" >Apellido</label>
                        <input type="text" id="lastname" name="lastname" placeholder="Fulanito"
                            value="<%= locals.user ? user.lastname : '' %>"
                            class="<%= locals.errors && errors.lastname ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.lastname ? errors.lastname.msg : '' %></span>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="email" id="email" name="email" placeholder="amantedelacomida53@aol.com"
                            value="<%= locals.user ? user.email : '' %>"
                            class="<%= locals.errors && errors.email ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.email ? errors.email.msg : '' %></span>
                    </div>
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        <a href="/users/login" class="btn-cancel">Cancelar</a>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>