<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: 'Crear Categorías'}) %>
<body class="form">
    <%- include('../partials/header') %>

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/admin">Admin</a>
            <a href="/categories">Categorías</a>
            <a href="/categories/create">Nueva</a>
        </nav>
    </section>

    <main class="row main-center admin-form">
        <div class="col-11 container">
            <div class="header">
                <p>Crear categoria</p>
            </div>
            <form action="/categories" method="POST">
                <div class="row main-between">
                    <div class="col-12 form-group">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="name" placeholder="Ej: ofertas"
                            class="<%= locals.errors && errors.name ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.name ? errors.name.msg : '' %> </span>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="/categories" class="btn-cancel">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>