<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: category.name}) %>
<body class="form">
    <%- include('../partials/header') %>
    
    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/admin">Admin</a>
            <a href="/categories">Categorías</a>
            <a href="/categories/create">Detalle</a>
        </nav>
    </section>

    <!-- category detail -->
    <main class="row main-center admin-form">
        <div class="col-11 container">
            <div class="header">
                <p>Categoria <span class="entity">#<%= category.id %></span></p>
                <a class="btn btn-primary" href="/categories/<%= category.id %>/edit">
                    <i class="fas fa-edit"></i> Editar
                </a>
                <form class="form-only-btn" action="/categories/<%= category.id %>?_method=delete" method="post">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </form>
            </div>
            <div class="row main-around row-content">
                <div class="col-11 detail">
                    <span>Nombre: </span> <%= category.name %>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>