<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: category.name}) %>
<body class="form">
    <%- include('../partials/header') %>
    
    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/admin">Admin</a>
            <a href="/categories">Categorías</a>
            <a href="/categories/create">Detalle</a>
        </nav>
    </section>

    <!-- category detail -->
    <main class="row main-center admin-form">
        <div class="col-11 container">
            <div class="header">
                <p>Categoria <span class="entity">#<%= category.id %></span></p>
                <div class="controls">
                    <a class="btn btn-primary" href="/categories/<%= category.id %>/edit"><i class="fas fa-edit"></i> Editar</a>
                    <a href="/categories" class="btn-cancel">Cancelar</a>
                </div>
            </div>
            <div class="row main-center row-content">
                <div class="col-11 col-md-3">
                    <img src="/images/categories/<%= category.image ? category.image : '' %>" onerror="this.src='/images/products/default-image.png'" alt="imagen de categoría">
                </div>
                <div class="col-11 col-md-6 detail">
                    <p><span>Nombre de categoría: </span> <%= category.name %></p>
                    <p><span>Categoría padre: </span> <%= category.parent && category.parent.name %></p>
                    <p><span>  Top: </span> <%= category.top %></p>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>