<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: 'Editando: ' + category.name}) %>
<body class="form">
    <%- include('../partials/header') %>
    
    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/admin">Admin</a>
            <a href="/categories">Categorias</a>
            <a href="/categories/<%= category.name %>/edit">Editar</a>
        </nav>
    </section>

    <main class="row main-center admin-form">
        <div class="col-11 container">
            <div class="header">
                <p>Editar Categoria <span class="entity">#<%= category.id %></span></p>
            </div>
            <form action="/categories/<%= category.id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" placeholder="Ej: ofertas" value="<%= category.name %>"
                        value="<%= locals.category ? category.name: '' %>"
                        class="<%= locals.errors && errors.name? 'danger' : '' %>">
                    <span class="error"><%= locals.errors && errors.name ? errors.name.msg : '' %> </span>
                </div>
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="/categories" class="btn-cancel">Cancelar</a>
                </div>
            </form>
        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>