<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title: 'Contacto'}) %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/site-navbar') %>
    
    <main class="container">
        <div class="row main-center">
            <div class="col-10 col-md-5">
                <h1>Contáctenos</h1>
                <ul>
                    <li>
                        <a href="https://instagram.com/simpsocks-argentina" target="_blank">
                            <i class="fab fa-instagram-square"></i>
                            Seguinos en Instagram
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="https://facebook.com/simpsocks-argentina" target="_blank">
                            <i class="fab fa-facebook-square"></i>
                            Seguinos en Facebook
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="https://twitter.com/simpsocks-argentina" target="_blank">
                            <i class="fab fa-twitter-square"></i>
                            Seguinos en Twitter
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-10 col-md-5">
                <form action="" method="post">
                    <div class="form-control">
                        <label for="name">NOMBRE</label>
                        <input type="text" name="name" id="name" class="<%= locals.errors && errors.email ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.name ? errors.name.msg : '' %></span>
                    </div>
                    <div class="form-control">
                        <label for="email">EMAIL</label>
                        <input type="email" name="email" id="email" class="<%= locals.errors && errors.email ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.email ? errors.email.msg : '' %></span>
                    </div>
                    <div class="form-control">
                        <label for="phone">TELEFONO</label>
                        <input type="text" name="phone" id="phone" class="<%= locals.errors && errors.email ? 'danger' : '' %>">
                        <span class="error"><%= locals.errors && errors.phone ? errors.phone.msg : '' %></span>
                    </div>
                    <div class="form-control">
                        <label for="message">MENSAJE</label>
                        <textarea name="message" id="message" cols="30" rows="10" class="<%= locals.errors && errors.email ? 'danger' : '' %>"></textarea>
                        <span class="error"><%= locals.errors && errors.message? errors.message.msg : '' %></span>
                    </div>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>