<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 

    <main>
        <!-- Top navbar -->
        <section class="top-nav">
            <nav class="top-nav-start">
                <a href="/products/find/envios" ><strong>#QuedateEnCasa</strong> productos con Envíos Gratis</a>
            </nav>
            <nav class="top-nav-end">
                <a href="/products/find/2x1">2x1</a>
                <a href="/products/find/descuentos">Descuento</a>
                <a href="/products/find/hotsale">Hot Sale</a>
            </nav>
        </section>
        <!-- Slider -->
        <section class="slides">
            <div class="row">
                <div class="hidden-sm hidden-md col-lg-3">
                    <div class="row slide">
                        <div class="container-hover col-12">
                            <img src="/images/slide/next.gif">
                            <div class="middle">
                                <div class="btn btn-secondary">Proximamente</div>
                            </div>
                        </div>
                        <div class="container-hover col-12">
                            <img src="/images/slide/new.png">
                            <div class="middle">
                                <a href="/products/8/show" class="btn btn-secondary">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="row slide">
                        <div class="col-12 overlay-slide">
                            <video id="videoPlayer" muted="muted" autoplay loop> 
                                <source src="/video" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="hidden-sm col-md-4 col-lg-3">
                    <div class="row slide">
                        <div class="container-hover col-12">
                            <img src="/images/slide/featured.jpg">
                            <div class="middle">
                                <a href="/products/find/destacados" class="btn btn-secondary">Destacados</a>
                            </div>
                        </div>
                        <div class="container-hover col-12">
                            <img src="/images/slide/rude.gif">
                            <div class="middle">
                                <a href="/products/find/unisex" class="btn btn-secondary">Unisex</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-info">
                <span class="title">Busca tus SimpSocks</span>
                <a class="btn btn-primary" href="/products/find/">Tienda</a>
            </div>
        </section>
        <!-- Information -->
        <section class="info-banner">
            <div class="row">
                <div class="col-3 info">
                    <i class="fas fa-truck"></i>
                    <span>Envíos a todo el país</span>
                </div>
                <div class="col-3 info">
                    <i class="fas fa-credit-card"></i>
                    <span>Pagá en 12 cuotas</span>
                </div>
                <div class="col-3 info">
                    <i class="fas fa-shield-alt"></i>
                    <span>Compra protegida</span>
                </div>
                <div class="col-3 info">
                    <i class="fab fa-whatsapp"></i>
                    <span><a href="https://wa.link/93x6qy" target="_blank">Consulte aquí</a></span>
                </div>
            </div>
        </section>
        <!-- Featured Products -->
        <% if (locals.featured) { %>
            <section class="featured-products">
                <span class="title">destacados</span>
                <div class="row nowrap simple-slider">
                    <% featured.forEach(product => { %>
                        <div class="col-10 col-md-6 col-lg-3 simple-slide">
                            <%- include('./products/product', {product}) %>
                        </div>
                    <% }); %> 
                </div>
            </section>
        <% } %>
        <!-- Banner Instagram -->
        <section class="insta-banner">
            <div class="row">
                <div class="col-12 col-md-7 content">
                    <span class="subtitle">buscanos en instagram</span>
                    <span class="text"><a href="instragram.com/simpsocks-argentina" target="_blank">seguinos en <em>@simpsocks-argentina</em></a> para enterarte de las últimas colecciones y nuevos productos</span>
                </div>
                <div class="col-md-5 image"></div>
            </div>
        </section>
        <!-- Featured Categories -->
        <% if (locals.topCategories) { %>
            <section class="featured-categories">
                <span class="title">categorías</span>
                <div class="row main-center featured-categories-container">
                    <% topCategories.forEach(topCategory => { %>
                        <div class="col-5 col-md-3 col-lg-2 featured-category">
                            <%- include('./categories/category', { category: topCategory }) %>
                        </div>
                    <% }); %>
                </div>
            </section>
        <% } %>
    </main>

    <%- include('./partials/footer') %>
    <script src="/js/video.js"></script>
</body>
</html>