<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: product.name}) %>
<body>
	<!-- Header -->
	<%- include('../partials/header-admin') %>
	<!-- /Header -->

	<section class="top-nav">
        <nav class="top-nav-start breadcrumb">
			<a href="/">Inicio</a>
			<a href="/admin">Admin</a>
			<a href="/products">Productos</a>
            <a href="/products/edit-form">Detalle</a>
        </nav>
	</section>

	<!-- user detail -->
	<main class="container users-wrapper">
		<div class="row main-center">
			<div class="col-11">
				<h2 class="title">Detalle del producto: <%= product.name %></h2>
			</div>
			<div class="col-11">
				<div class="row main-around cross-center">
					<div class="col-10 col-md-2 col-lg-2">
						<img src="/images/products/<%= product.image ? product.image : '' %>" onerror="this.src='/images/products/default-image.png'" alt="imagen del producto">
					</div>
					<div class="col-10 col-md-6 col-lg-5">
						<div><span class="subtitle"> Precio: </span> <%= product.price %></div>
						<div><span class="subtitle"> Nombre: </span> <%= product.name %></div>
                        <div><span class="subtitle"> Descripción: </span> <%= product.description %></div>
                        <div><span class="subtitle"> Descuento: </span> <%= product.discount %> % </div>
					</div>
					<div class="col-10 col-md-3 col-lg-3">
						<a class="btn btn-secondary" href="/products/<%= product.id %>/edit"><i class="fas fa-edit"></i> Editar </a>
						<form class="form-only-btn" action="/users/<%= product.id %>?_method=delete" method="post">
							<button class="btn btn-secondary" type="submit"><i class="fas fa-trash"></i> Eliminar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>