<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body class="form">
    <%- include('../partials/header') %>

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/admin">Admin</a>
            <a href="/products">Productos</a>
            <a href="">Detalle</a>
        </nav>
    </section>

    <!-- product detail -->
    <main class="row main-center admin-form">
        <div class="col-11 container">
            <div class="header">
                <p>Producto <span class="entity">#<%= product.id %></span></p>
                <a class="btn btn-primary" href="/products/<%= product.id %>/edit">
                    <i class="fas fa-edit"></i> Editar 
                </a>
                <form class="form-only-btn" action="/products/<%= product.id %>?_method=delete" method="post">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </form>
            </div>
            <div class="row main-center row-content">
                <div class="col-11 col-md-3">
                    <div class="row column">
                        <% product.images.forEach(prodImage => { %>
                            <div class="col-12 col-md-6">
                                <img src="/images/products/<%= prodImage ? prodImage.name : '' %>" onerror="this.src='/images/products/default-image.png'" alt="imagen del producto">
                            </div>
                        <% }); %>
                    </div>
                </div>
                <div class="col-11 col-md-6 detail">
                    <p><span>Precio: </span>$ <%= product.price %></p>
                    <p><span>Nombre: </span> <%= product.name %></p>
                    <p><span>Descripción: </span> <%= product.description %></p>
                    <p><span>Descuento: </span> <%= product.discount %>% </p>
                    <p><span>Tamaño: </span> <%= product.size && product.size.name %></p>
                    <p><span>Tipo: </span> <%= product.type && product.type.name %></p>
                    <p><span>Categorias</span> 
                        <% product.categories.forEach(category => { %>
                            <span><%= category.name %></span>
                        <% }) %>
                    </p>
                </div>
            </div>
        </div>
    </main>

    
    <div class="col-11">
        <div class="row main-around cross-center"> 
            
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>