<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body class="form">
    <%- include('../partials/header') %>

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/admin">Admin</a>
            <a href="/products">Productos</a>
            <a href="">Editar</a>
        </nav>
    </section>

    <main class="row main-center admin-form">
        <div class="col-11 container">
            <div class="header">
                <p>Editar Producto <span class="entity">#<%= product.id %></span></p>
            </div>
            <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" name="name" placeholder="Ej: Soquete Lisa Simpson"
                                value="<%= locals.product ? product.name: '' %>"
                                class="<%= locals.errors && errors.name? 'danger' : '' %>">
                            <span class="error"><%= locals.errors && errors.name ? errors.name.msg : '' %> </span> 
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="description">Descripción</label>
                            <textarea id="description" name="description" placeholder="describí tus simpsocks" 
                                value="<%= locals.product ? product.description : '' %>"
                                class="<%= locals.errors && errors.description ? 'danger' : '' %>"><%= product.description %></textarea>
                            <span class="error"><%= locals.errors && errors.description ? errors.description.msg : '' %> </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="price">Precio</label>
                            <input type="number" id="price" name="price"
                                value="<%= locals.product ? product.price: '' %>"
                                class="<%= locals.errors && errors.price? 'danger' : '' %>">
                            <span class="error"><%= locals.errors && errors.price ? errors.price.msg : '' %> </span> 
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="discount">Descuento</label>
                            <input type="number" id="discount" name="discount"
                                value="<%= locals.product ? product.discount: '' %>"
                                class="<%= locals.errors && errors.discount? 'danger' : '' %>">
                            <span class="error"><%= locals.errors && errors.discount ? errors.discount.msg : '' %> </span> 
                        </div>
                    </div>
                    <div class="col-12 col-md-8 form-group">
                        <label for="discount">Tabla de SKU</label>
                        <div class="row">
                            <div class="col-3 col-md-2">#</div>
                            <div class="col-5 col-md-4">Stock</div>
                            <div class="col-4 col-md-6">Detalle</div>
                            <% product.skus.forEach(sku => { %>
                                <div class="col-3 col-md-2"><%= sku.sku %></div>
                                <div class="col-5 col-md-4">
                                    <div class="form-group">
                                        <input type="number" id="stock-<%= sku.id %>" name="<%= sku.id %>" value="<%= sku.stock %>">
                                    </div>
                                </div>
                                <div class="col-4 col-md-6">
                                    <% sku.properties.forEach(property => { %>
                                        <b><%= property.name %></b>     
                                    <% }) %>
                                </div>
                            <% }) %>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-checkbox">
                            <p>Categorías</p>
                            <div class="row">
                                <% categories.forEach(category => { %>
                                    <div class="col-6 col-md-6 col-lg-3"> <br>
                                        <input 
                                            type="checkbox"
                                            name="categories"
                                            id="<%= category.id %>"
                                            value=<%= category.id %>
                                            <%= product.categories.find(cat => cat.id == category.id) ? 'checked' : '' %>>
                                        <span><%= category.name %></span>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-checkbox">
                            <p>Imágenes existentes</p> 
                            <div class="row">
                                <% if (!product.images || product.images.length == 0) { %>
                                    <p>Producto sin imágenes.</p>
                                <% } else { %>
                                    <div class="col-12">
                                        <input type="checkbox" name="removeCurrentImages" id="removeCurrentImages" value=true>
                                        <label for="removeCurrentImages">Eliminar imágenes actuales</label>
                                    </div>
                                    <% product.images.forEach(image => { %>
                                    <div class="col-6">
                                        <figure>
                                            <img src="/images/products/<%= image.name %>" alt="imagen de producto">
                                        </figure>
                                    </div>
                                    <% }) %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="images">Nuevas Imágenes:</label>
                            <input type="file" id="images" name="images" multiple style="border: none;">
                        </div>
                    </div>
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="/products" class="btn-cancel">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>