<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
	<%- include('../partials/header-admin') %>

	<section class="top-nav">
        <nav class="top-nav-start breadcrumb">
			<a href="/">Inicio</a>
			<a href="/admin">Admin</a>
			<a href="/products">Productos</a>
			<a href="">Editar</a>
        </nav>
	</section>
<main class="main-with-form">
	<div class="container admin-wrapper">
		<div class="row main-center form-general col-11">
			<div class="col-11 title-forms">
				<h2 class="title">Editando producto: <i><%= product.name %></i></h2>
			</div>
			<div class="col-11 col-md-6">
				<form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
					<div class="row">
						<div class="col-12 form-step">
							<label for="name">Nombre</label>
							<input type="text" id="name" name="name" placeholder="Ej: Soquete Lisa Simpson" value="<%= product.name %>">
						</div>
						<div class="col-12 form-step">
							<label for="price">Precio</label>
							<input type="number" id="price" name="price" placeholder=" " value= <%= product.price %>>
						</div>
						<div class="col-12 form-step ">
							<label for="discount">Descuento</label>
							<input type="number" id="discount" name="discount" placeholder=" " value= <%= product.discount %>>
						</div>
						<div class="col-12 form-step">
							<label for="description">Descripción</label>
							<textarea id="description" name="description" placeholder="describí tus simpsocks" required><%= product.description %></textarea>
						</div>
						<div class="col-12 form-step ">
							<label for="size">Talle</label>
							<select name="size" id="size">
								<% productsSize.forEach(size => { %>
									<option value="<%= size.id %>" <%= size.id == product.size ? "selected" : " " %>>
										 <%= size.name %>  
									</option>		
								<% }) %> 								
							</select>
						</div>
						<div class="col-12 form-step">
							<label for="type">Tipo</label>
							<select name="type" id="type">
								<% productsTypes.forEach(type => { %>
									<option value="<%= type.id %>" <%= type.id == product.type ? "selected" : " " %>>
										 <%= type.name %>  
									</option>		
								<% }) %> 								
							</select>
						</div>
						<div class="col-12 form-step">
							<label for="categories">Categorías</label>
							<div class="row">
								<% categories.forEach(category => { %>
									<div class="col-6 col-md-6 col-lg-3"> <br>
										<input 
											type="checkbox"
											name="categories"
											id="<%= category.id %>"
											value=<%= category.id %>
											<%= product.categories.includes(category.id) ? 'checked' : '' %>>
										<span><%= category.name %></span>
									</div>
								<% }) %>
							</div>
						</div>
						<div class="col-12 form-step">
							<label>Imágenes existentes</label> 
							<div class="row">
								<% if (!productImages || productImages.length == 0) { %>
									<p>Producto sin imágenes.</p>
								<% } else { %>
									<div class="col-12 form-step">
										<input type="checkbox" name="removeCurrentImages" id="removeCurrentImages" value=true>
										<label for="removeCurrentImages">Eliminar imágenes actuales</label>
									</div>
									<% productImages.forEach(image => { %>
										<div class="col-6">
											<figure>
												<img src="/images/products/<%= image.name %>" alt="imagen de producto">
											</figure>
										</div>
									<% }) %>
								<% } %>
							</div>
						</div>
                        <div class="col-12 form-step">
							<label for="images">Nuevas Imágenes:</label>
							<input type="file" id="images" name="images" multiple style="border: none;">
						</div>
						<div class="col-12">
							<button type="submit" class="btn btn-primary">Guardar</button>
							<a href="/products" class="btn btn-cancel">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
	<%- include('../partials/footer') %>
</body>	
</html>