<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
	<%- include('../partials/header-admin') %>

	<section class="top-nav">
        <nav class="top-nav-start breadcrumb">
			<a href="/">Inicio</a>
			<a href="/admin">Admin</a>
			<a href="/products">Productos</a>
			<a href="">Editar</a>
        </nav>
	</section>

	<div class="container users-wrapper">
		<div class="row main-center">
			<div class="col-11">
				<h2 class="title">Editando el producto: <i><%= product.name %></i></h2>
			</div>
			<div class="col-11 col-md-6">
				<form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
					<div class="row">
						<div class="col-12">
							<label for="name">Nombre:</label>
							<input type="text" id="name" name="name" placeholder="Ej: Soquete Lisa Simpson" value="<%= product.name %>">
						</div>
						<div class="col-12">
							<label for="price">Precio:</label>
							<input type="number" id="price" name="price" placeholder=" " value= <%= product.price %>>
						</div>
						<div class="col-12">
							<label for="size">Talle:</label>
							<select name="size" id="size">
								<option value="Small" <%= product.size == 'small' ? 'selected' : '' %>>Small - Kids</option>
                                <option value="Medium" <%= product.size  == 'medium' ? 'selected' : '' %>>Medium - Adultos</option>
                                <option value="Large" <%= product.size  == 'large' ? 'selected' : '' %>>Large - Adultos</option>
							</select>
						</div>
						<div class="col-12">
							<label for="type">Categoria:</label>
							<select name="type" id="type">
								<option value="Soquete" <%= product.type == 'soquete' ? 'selected' : '' %>>Soquete</option>
                                <option value="Media" <%= product.type == 'media' ? 'selected' : '' %>>Media Larga</option>
                                <option value="Bucanera" <%= product.type == 'bucanera' ? 'selected' : '' %>>Bucanera</option>
							</select>
						</div>
                        <div class="col-12">
							<label for="image">Imagen:</label>
							<input type="file" id="image" name="image" value="">
						</div>
						<input type="hidden" name="currentImage" value="<%= product.image %>">
						<div class="col-12">
							<button type="submit" class="btn btn-primary">Guardar</button>
							<a href="/products" class="btn btn-cancel">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<%- include('../partials/footer') %>
</body>	
</html>