<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header', { query }) %>

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/products/find">Buscar</a>
        </nav>
    </section>

    <main class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <p class="title">Productos</p>
            </div>
            <div class="col-md-2 col-lg-3">
                <aside class="filters">
                    <p class="subtitle">Filtros</p>
                    <div class="filter">
                        <label for="category">Categorías</label>
                        <% if (locals.categories) { %>
                            <% categories.forEach(category => { %>
                                <div>
                                    <% if (filter.id == category.id) { %>
                                        <a href="/products/find?query=<%= query %>">
                                            [<i class="fas fa-times"></i>]
                                        </a>
                                    <% } %>
                                    <a href="/products/find/<%= category.name %>?query=<%= query %>"><%= category.name %></a>
                                </div>
                            <% }) %>
                        <% } else { %>
                            <div>Sin categorías</div>
                        <% } %>
                    </div>
                </aside>
            </div>
            <div class="col-12 col-md-10 col-lg-9">
                <% if (results.length) { %>
                    <!-- TODO armar el mensaje en el BE -->
                    <% if (query) { %>
                        <% if (filter && filter.name) { %>
                            <h3>Mostrando resultados para "<%= query %>" en la categoría "<%= filter.name %>"</h3>
                        <% } else { %>
                            <h3>Mostrando resultados para "<%= query %>"</h3>
                        <% } %>
                    <% } else if (filter && filter.name) { %>
                        <h3>Mostrando resultados en la categoría "<%= filter.name %>"</h3>
                    <% } else { %>
                        <h3>Mostrando todos los resultados</h3>
                    <% } %>
                    <div class="row products">
                        <% results.forEach(product => { %>
                             <div class="col-12 col-md-6 col-lg-3 <%= product.categories && product.categories.find(c => c.name == 'destacados') ? 'featured' : '' %> ">
                            <%- include('product', { product }) %>
                            </div>
                        <% }); %>
                    </div>
                <% } else { %>
                    <h3>No encontramos productos para tu búsqueda</h3>
                    <a href="/products/find/descuentos">... pero hacé click acá y encontrá los mejores descuentos !!</a>
                <% } %>
            </div>
        </div>
    </main>

    <%- include("../partials/footer")%>
</body>
</html>