<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header', { query }) %>

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/products/find">Buscar</a>
        </nav>
    </section>

    <main class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <p class="title">Productos</p>
            </div>
            <div class="col-md-2 col-lg-3">
                <aside class="filters">
                    <p class="subtitle">Filtros</p>
                    <div class="filter">
                        <label for="category">Categorías</label>
                        <% categories.forEach(category => { %>
                            <div>
                                <% if (filter.category == category.id) { %>
                                    <a href="/products/find/">
                                        [<i class="fas fa-times"></i>]
                                    </a>
                                <% } %>
                                <a href="/products/find/<%= category.name %>"><%= category.name %></a>
                            </div>
                        <% }) %>
                    </div>
                    <!-- Variants -->
                    <% variants.forEach(variant => { %>
                    <div class="filter">
                        <label for="<%= variant.name %>"><%= variant.display %></label>
                        <% variant.variant_values.forEach(v_value => { %>
                            <div>
                                <% if (filter[v_value.id]) { %>
                                    <a href="/products/find?query=<%= query %>&<%= v_value.name %>=<%= filter[v_value.id] %>">
                                        [<i class="fas fa-times"></i>]
                                    </a>
                                <% } %>
                                <a href="/products/find?query=<%= query %>&<%= v_value.name %>=<%= filter.size %>"><%= v_value.name %></a>
                            </div>
                        <% }) %>
                    </div>
                    <% }) %>
                </aside>
            </div>
            <div class="col-12 col-md-10 col-lg-9">
                <% if (results.length) { %>
                    <div class="row products">
                        <% results.forEach(product => { %>
                             <div class="col-12 col-md-6 col-lg-3 <%= product.categories.find(c => c.name == 'destacados') ? 'featured' : '' %> ">
                            <%- include('product', { product }) %>
                            </div>
                        <% }); %>
                    </div>
                <% } else { %>
                    <h3>No encontramos productos para su búsqueda.</h3>
                    <a href="/products/find/descuentos">Hacé clic acá para ver productos con descuentos !!</a>
                <% } %>
            </div>
        </div>
    </main>

    <%- include("../partials/footer")%>
</body>
</html>