<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Home</a>
            <a href="/products">Productos</a>
        </nav>
    </section>

    <main class="container products-wrapper">
		<div class="row products">
			<div class="col-12">
				<h2 class="title">Todos los productos</h2>
            </div>
            <div class="col-12">
                <aside class="products-filter">
                    <p>barra lateral</p>
                </aside>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <%- include('product') %>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <%- include('product') %>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <%- include('product') %>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <%- include('product') %>
            </div>
		</div>
	</main>

    <%- include("../partials/footer")%>
</body>
</html>