<section class="product">
    <a href="/products/<%= product.id %> ">
        <figure class="product-image">
            <img src="/images/products/<%= product.image %>"  alt="imagen de producto">
        </figure>
        <article class="product-data">
            <span class="discount">-<%=product.discount%> %</span>
            <p><%= product.name %> </p>
            <span class="compare-price">$100</span>
            <span class="product-price"><%=product.price%> </span>
        </article>
    </a>
</section>