<section class="product">
    <a href="/products/<%= product.id %>/show">
        <figure class="product-image">
            <img src="/images/products/<%= product.images && product.images.length > 0 ? product.images[0].name : '' %>" onerror="this.src='/images/products/default-image.png'" alt="imagen de producto">
        </figure>
        <article class="product-data">
            <p><%= product.name %></p>
            <% if (product.discount > 0) { %>
                <span class="discount">-<%= product.discount %>%</span>
                <span class="product-price">$<%= product.offerPrice %> </span>
            <% } %>
            <span class="compare-price">$<%= product.price %></span>
        </article>
    </a>
</section>