<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>


<body>
    <%- include('../partials/header') %>

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/products/show">Detalles del producto</a>
        </nav>
    </section>

    <main class="product-container">
        <div class="margin-product-container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="row ">
                        <div class="col-md-3 col-lg-3">
                            <aside>
                                <% for(let i=0; i<product.images.length; i++) { %>
                                <figure class="box-container">
                                    <a onclick="showSlides(<%= i+1 %>)">
                                        <img src="/images/products/<%= product.images[i] ? product.images[i].name : '' %>"
                                            onerror="this.src='/images/products/default-image.png'"
                                            alt="foto miniatura del producto">
                                    </a>
                                </figure>
                                <% } %>
                            </aside>
                        </div>
                        <div class="col-md-9 col-lg-9">
                            <% for(let i=0; i<product.images.length; i++) { %>
                            <figure class="slide-container img-<%= i+1 %>">
                                <img src="/images/products/<%= product.images[i] ? product.images[i].name : '' %>"
                                    onerror="this.src='/images/products/default-image.png'" alt="foto del producto">
                            </figure>
                            <% } %>
                        </div>
                        <a class="prev-link show-mobile" onclick="prevSlide()">&#10094;</a>
                        <a class="next-link show-mobile" onclick="nextSlide()">&#10095;</a>
                    </div>
                </div>
                <div class="col-lg-1 line-center">
                    <div class="vertical-line"></div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <article class="product-details row main-center">
                        <i class="far fa-heart heart-icon right-heart"></i>
                        <div class="product-title title"><%= product.name %> </div>
                        <div class="price-detail" id="price-detail">
                            <span class="product-price previous-price">
                                <% if (product.price != product.offerPrice) { %>
                                <%= product.price %>
                                <% } %>
                            </span>
                            <span class="current-price">$ <%= product.offerPrice %> </span>
                            <p class="stock" id="stock-text">stock disponible</p>
                            <p id="stock-quantity"></p>
                        </div>
                        <p class="product-description text"><%= product.description %> </p>

                        <form action="products/cart" method="POST" id="addToCartForm">
                            <!-- Variants -->
                            <% product.variants.forEach(variant => { %>
                            <div class="select-variant">
                                <label for="<%= variant.name %>"><%= variant.display %></label>
                                <select name="<%= variant.name %>" id="variant-<%= variant.id %>">
                                    <% variant.variant_values.forEach(v_value => { %>
                                    <option value="<%= v_value.id %>">
                                        <%= v_value.name %>
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                            <% }) %>
                            <p id="cart-confirmation" class="stock"></p>
                            <div class="product-actions">
                                <input type="hidden" name="productId" id="productId" value="<%= product.id %> ">
                                <button type="submit" class="btn btn-secondary btn-cart" id="addToCart">Añadir
                                    al
                                    carrito
                                </button>
                                <button type=" submit" class="btn btn-primary">Comprar</button>
                            </div>
                        </form>
                        <!-- Categories -->
                        <div>Categorías:
                            <span class="labels">
                                <% product.categories.forEach(category => { %>
                                <span><%= category.name %></span>
                                <% }) %>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </main>

    <% if (related && related.length) { %>
    <section class="related-products-container">
        <span class="title">Productos Relacionados</span>
        <div class="row nowrap simple-slider">
            <% related.forEach(product => { %>
            <div class="col-md-6 col-lg-3 simple-slide">
                <%- include('product', {product}) %>
            </div>
            <% }) %>
        </div>
    </section>
    <% } %>

    <%- include("../partials/footer")%>
    <script src="/js/slider.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/storage.js"></script>
</body>

</html>