<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <section class="top-nav">
        <nav class="top-nav-start breadcrumb">
            <a href="/">Inicio</a>
            <a href="/products/show">Detalles del producto</a>
        </nav>
    </section>

    <main class="product-container">
		<div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="row ">
                    <div class="col-md-3 col-lg-3">
                        <aside>
                            <% for(let i=0; i<images.length; i++) { %>
                                <figure class="box-container">
                                    <a onclick="showSlides(<%= i+1 %>)">
                                        <img src="/images/products/<%= images[i] ? images[i].name : '' %>" onerror="this.src='/images/products/default-image.png'" alt="foto miniatura del producto">
                                    </a>
                                </figure>
                            <% } %>
                        </aside>
                    </div>
                    <div class="col-md-9 col-lg-9">
                        <% for(let i=0; i<images.length; i++) { %>
                            <figure class="slide-container img-<%= i+1 %>">
                                <img src="/images/products/<%= images[i] ? images[i].name : '' %>" onerror="this.src='/images/products/default-image.png'" alt="foto del producto">
                            </figure>
                        <% } %>
                    </div>
                    <a class="prev-link show-mobile" onclick="prevSlide()">&#10094;</a>
                    <a class="next-link show-mobile" onclick="nextSlide()">&#10095;</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <article class="product-details row main-center">
                    <p class="stock">stock disponible</p>
                    <div class="price">
                        <span class="subtitle">$ <%= product.price %> </span>
                        <i class="far fa-heart heart-icon"></i>
                    </div>
                    <div>
                        <div class="product-title"><%= product.name%> </div>
                        <p class="product-description text"><%= product.description %> </p>
                        <div>Categorías:
                            <span class="labels">
                                <% product.categories.forEach(category => { %>
                                    <span><%= category.name %></span>
                                <% }) %>
                            </span>
                        </div>
                    </div>
                    <div class="product-actions">
                        <a href="/products/cart" class="btn btn-info btn-cart">Añadir al carrito</a>
                        <a href="/error" class="btn btn-primary buy">Comprar</a>
                    </div>
                </article>
            </div>
		</div>
    </main>

    <section class="related-products-container">
        <span class="title">Productos Relacionados</span>
        <div class="row nowrap simple-slider">
            <% featured.forEach(product => { %>
                <div class="col-md-6 col-lg-3 simple-slide">
                    <%- include('product', {product}) %>
                </div>
            <% }) %>
        </div>
    </section>

    <%- include("../partials/footer")%>
    <script src="/js/slider.js"></script>
</body>
</html>